.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: rgba(245, 245, 223, 0.853);
  margin-top: 20px;
  margin-bottom: 20px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 800px;
  gap: 20px;
  color: rgb(177, 177, 177);
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound {
  text-align: center;
  color: rgba(156, 156, 156, 0.815);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
