/* MovieDetailCard.module.css */
.linkBack {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px 15px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 0 10px 0;
}
.favoriteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  background-color: red;
  display: flex;
  border-radius: 10px;
  padding: 5px 10px;
}
.linkBack:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.icon {
  margin-right: 8px;
  font-size: 20px;
}
.backdrop {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.7);

  background: linear-gradient(
      to bottom,
      rgb(51, 51, 51) 50%,
      rgb(51, 51, 51) 100%
    ),
    url("https://image.tmdb.org/t/p/original/your_image_path.jpg") center/cover;
}

.container {
  display: flex;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.img {
  max-width: 100%;
  border-radius: 10px;
}

.containerText {
  max-width: 600px;
}

.title,
.date,
.popularity,
.overview,
.genres {
  margin-bottom: 10px;
}

.overviewText,
.genresItem {
  margin-bottom: 5px;
}

.trailerButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.trailerButton:hover {
  background-color: darkred;
}

.trailerContainer {
  margin-top: 20px;
  text-align: center;
  color: white; /* Колір тексту */
}
.containerTrailer {
  width: 100%;
}
/* MovieDetailCard.module.css */
.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  transition: color 0.3s;
}

.favoriteButton:hover {
  color: red;
}
