/* MovieList.module.css */
.categoryContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper {
  width: 100%;
  height: auto;
  margin: 10px 0 40px 0;
  padding: 0 10px 20px 0;
  border-bottom: 2px solid white;
}

.movieImg {
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (min-width: 769px) {
  .list {
    font-size: 18px;
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .list {
    font-size: 12px;
    font-weight: 500;
  }
}

.list {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 30px;
}

@media (max-width: 768px) {
  .movieList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movieList {
    grid-template-columns: repeat(10, 1fr);
  }
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
