.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.movieList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.movieItem {
  text-align: center;
  border: 1px solid #a0a0a0;
  padding: 10px;
  border-radius: 10px;
  background-color: #c5c5c5;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (min-width: 769px) {
  .movieImg {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .movieImg {
    width: 300px;
    height: auto;
  }
}

.movieText {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
  color: #4c4c4c;
}
