/* HomePage.module.css */
.containerHome {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .containerHome h2 {
    margin-top: 20px;
    font-size: 14px;
  }
}

.show {
  opacity: 1;
}
@media (min-width: 769px) {
  .containerHome h2 {
    margin-top: 20px;
    font-size: 24px;
  }
}
